<script type="text/ng-template" id="/products.html">
    <ol class="breadcrumb">
        <li class="active">Producten</li>
    </ol>

    <div class="titleflex">
        <div class="titleflexattr">
            <h1>{{vm.products.length}} Producten</h1>
        </div>
        <div class="titleflexattr">
            <p class="titleadd"><a href="/#/admin/products/create" class="btn btn-primary">Voeg product toe</a></p>
        </div>
    </div>

    <div ng-show="vm.alertMessage" class="alert alert-{{vm.alertType}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{vm.alertMessage}}
    </div>

    <div ng-hide="vm.hasProducts()">
        <p>Er zijn nog geen producten.</p>
    </div>

    <div ng-show="vm.hasProducts()" class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Beschrijving</th>
                <th>Allergenen</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in vm.products | orderBy: 'description' track by $index">
                <td>{{product.description}}</td>
                <td>
                    <span ng-show="product.allergens.length === 0">Geen allergenen</span>

                    <span ng-repeat="allergen in product.allergens">
                    {{allergen}}<span ng-show="product.allergens.length - 1 !== $index">, </span>
                </span>
                </td>
                <td class="text-right">
                    <a href="/#/admin/products/{{product._id}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="" type="button" data-toggle="modal" data-target="#myModal" ng-click="vm.productPendingDelete={id: product._id, description: product.description}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade modal-delete" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>Bent u zeker dat u het product {{vm.productPendingDelete.description}} wil verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
                    <button type="submit" ng-click="vm.deleteProduct()" class="btn btn-danger">Verwijder product</button>
                </div>
            </div>
        </div>
    </div>

</script>