<script type="text/ng-template" id="/home.html">

        <ol class="breadcrumb">
            <li class="active">Resto's</li>
        </ol>

        <div class="titleflex">
            <div class="titleflexattr">
                <h1>{{vm.restaurants.length}} Resto<span ng-show="vm.restaurants.length !== 1">'s</span></h1>
            </div>
            <div ng-show="vm.isLoggedIn()" class="titleflexattr">
                <p class="titleadd"><a href="/#/restaurants/create" class="btn btn-primary">Voeg resto toe</a></p>
            </div>
        </div>

        <% include ../partials/alert.ejs %>

        <div ng-hide="vm.hasRestaurants()">
            <p>Er zijn nog geen restaurants.</p>
        </div>

        <div ng-show="vm.hasRestaurants()" class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>Adres</th>
                    <th>Openingsuren</th>
                    <th>Maaltijden</th>
                    <th ng-show="vm.isLoggedIn()"></th>
                    <th ng-hide="vm.isLoggedIn()">Drukte</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="restaurant in vm.restaurants | orderBy: '-name'">
                    <td><a href="#/restaurants/{{restaurant._id}}/menus">{{restaurant.name}}</a></td>
                    <td>{{restaurant.address}}</td>
                    <td>{{restaurant.openingHours}}</td>
                    <td><a href="#/restaurants/{{restaurant._id}}/menus">Menu's</a></td>
                    <td ng-show="vm.isLoggedIn()"><a href="#/restaurants/{{restaurant._id}}">Bewerk</a></td>
                    <td ng-hide="vm.isLoggedIn()">{{restaurant.occupation}}</td>
                </tr>
                </tbody>
            </table>
        </div>
</script>
