<script type="text/ng-template" id="/restaurants.html">

    <form ng-submit="vm.editRestaurant()">
        <ol class="breadcrumb">
            <li><a href="/#/home">Resto's</a></li>
            <li class="active">{{vm.restaurant.name}}</li>
        </ol>

        <div class="titleflex">
            <div class="titleflexattr">
                <h1>{{vm.restaurant.name}} <small class="">Details</small> </h1>
            </div>
            <div class="titleflexattr titleflexright">
                <p class="titleadd">
                    <a href="/#/Home" class="btn btn-default">Terug</a>
                    <a href="/#/restaurants/{{vm.restaurant._id}}/menus" class="btn btn-default">Menu's</a>
                    <button type="submit" class="btn btn-primary btn-latest">
                        <!-- <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Opslaan -->
                        Sla wijzigingen op
                    </button>
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </p>
            </div>
        </div>

        <% include ../partials/alert.ejs %>

        <div class="row form-edit">
            <div class="col-sm-8">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="naam" class="col-sm-2 control-label">Naam</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="naam" ng-model="vm.restaurant.name" placeholder="Naam">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Adres</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address" ng-model="vm.restaurant.address" placeholder="Adres">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hours" class="col-sm-2 control-label">Openingsuren</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hours" ng-model="vm.restaurant.openingHours" placeholder="Openingsuren">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lat" class="col-sm-2 control-label">Lat</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lat" ng-model="vm.restaurant.coordinates.lat" placeholder="Lat">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="long" class="col-sm-2 control-label">Lng</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="long" ng-model="vm.restaurant.coordinates.long" placeholder="Long">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="img" class="col-sm-2 control-label">Afbeelding</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="img" ng-model="vm.restaurant.urlImage" placeholder="Afbeeldingsurl">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="center-block img-responsive" src="{{vm.restaurant.urlImage}}"/>
                <p class="img-caption">
                    <%# if(!vm.restaurant.urlImage || vm.restaurant.urlImage === ''){ %>
                    <!--Ongeldig afbeeldings url opgegeven!-->
                    <%# } else{ %>
                    <!--{{vm.restaurant.urlImage}}-->
                    <%# } %>
                </p>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade modal-delete" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>Bent u zeker dat u de resto {{vm.restaurant.name}} wil verwijderen?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
                        <button type="submit" ng-click="vm.delete=true" class="btn btn-danger">Verwijder resto</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</script>