<script type="text/ng-template" id="/restaurantDetailsStudents.html">

    <ol class="breadcrumb">
        <li><a href="/#/home">Resto's</a></li>
        <li class="active">{{vm.restaurant.name}}</li>
    </ol>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <!-- Restaurant details -->
                <div class="col-xs-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="restaurant-cover" style="background-image: url('{{ vm.restaurant.urlImage }}')">
                                    <div class="circle-traffic">
                                        <h3 class="font-weight-normal">Rustig</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="margin-bottom-0">{{ vm.restaurant.name }}</h3>
                            </div>
                        </div>

                        <div class="row">
                            <hr>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4><span class="glyphicon glyphicon-calendar restaurant-glyphicon"></span> Openingsuren</h4>
                                        <p>{{ vm.restaurant.openingHours }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4><span class="glyphicon glyphicon-map-marker restaurant-glyphicon"></span> Adres</h4>
                                        <p>{{ vm.restaurant.address }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-xs-12">

                                        <p>
                                            <div class="text-center restaurant-forecast">13:25</div>
                                        </p>
                                        <hr class="restaurant-hr">
                                        <div class="text-center restaurant-forecast-description">Wanneer is het rustiger?</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Graph traffic -->
                <div class="col-xs-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="margin-bottom-0">Grafiek drukte</h3>
                            </div>
                        </div>

                        <div class="row">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Week menu-->
        <div class="col-md-6">
            <div class="card">

                <div class="row text-center menu-days" id="menu-days">
                    <a ng-click="vm.toggleMenus(1)" class="btn btn-default" id="menu-day-1">Maandag</a>
                    <a ng-click="vm.toggleMenus(2)" class="btn btn-default" id="menu-day-2">Dinsdag</a>
                    <a ng-click="vm.toggleMenus(3)" class="btn btn-default" id="menu-day-3">Woensdag</a>
                    <a ng-click="vm.toggleMenus(4)" class="btn btn-default" id="menu-day-4">Donderdag</a>
                    <a ng-click="vm.toggleMenus(5)" class="btn btn-default" id="menu-day-5">Vrijdag</a>
                </div>

                <div class="row">
                    <hr>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="margin-0">Weekmenu</h3>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h3 class="margin-0">{{vm.date | date: 'dd/MM/yyyy'}}</h3>
                    </div>
                </div>

                <div class="row">
                    <hr>
                </div>

                <div class="row" ng-hide="vm.hasMenusThisDay()">
                    <div class="col-xs-12">
                        <p>Er zijn geen menu's beschikbaar voor deze dag.</p>
                    </div>
                </div>

                <div class="menu">
                    <div ng-repeat="menu in vm.menus | orderBy : 'title'" class="menu-item">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><strong>{{ menu.title }}</strong></p>
                                <div>{{ menu.product.description }}</div>

                            </div>
                            <div class="col-xs-6 text-right">
                                {{ menu.price | currency: '€ ' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-hide="vm.hasMenus()">
        <p>Er zijn nog geen menu's.</p>
    </div>



</script>
